.scrape-task-details-page {
  width: '100%';
  .title {
    margin-bottom: 4rem;
  }
  .scrape-task-info-container {
    display: flex;
    flex-direction: column;
  }

  .info-cards-container {
    display: flex;
    flex-wrap: wrap;
    .card {
      margin-right: 2rem;
      margin-bottom: 2rem;
    }
  }
}
